# hsguard has a buildin --create to create your *.rc file maybe you need sudo hsguard --initDB too
DATABASE=/var/hsguard/hsguard.db
BASE=/
#ROOT/FAIL/USER/INFO/DEVL
VERBOSE=USER
#If desired, an empty file can be created with --createexcl
#EXCLUDE=/var/hsguard/exclude.lst
NOSCREEN=Y
EMERGENCY=PANIC
ANSICOLOR=Y
#COLORS=BLACK,RED,GREEN,YELLOW,BLUE,PURPLE,CYAN,WHITE,BBLACK,BRED,BGREEN,BYELLOW,BBLUE,BPURPLE,BCYAN,BWHITE
COL_ID=BBLUE
COL_FNAME=BGREEN
COL_FSIZE=BWHITE
COL_FMTIME=BPURPLE
COL_CRC32=BYELLOW
COL_LASTCHK=BPURPLE
COL_CHECKCNT=BPURPLE
COL_FOUNDED=PURPLE
COL_LOCID=CYAN
COL_LOCATION=CYAN
COL_LOCFOUNDED=PURPLE

